html,
body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
}

html,
body{
    overflow-x:hidden;
    width:100%;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family: 'Poppins', sans-serif !important;
}
/* INTRO */

#intro-screen{
    position:fixed;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:25px;
    background:#000;
    z-index:9999;
}

/* CORE */

.core-container{
    position:relative;
    width:120px;
    height:120px;
}

.outer-ring{
    position:absolute;
    width:120px;
    height:120px;
    border:3px solid transparent;
    border-top:3px solid #ff7b00;
    border-radius:50%;
    animation:spin1 2s linear infinite;
}

.middle-ring{
    position:absolute;
    width:85px;
    height:85px;
    top:17px;
    left:17px;
    border:3px solid transparent;
    border-bottom:3px solid #ff7b00;
    border-radius:50%;
    animation:spin2 1.5s linear infinite;
}

.core{
    position:absolute;
    width:28px;
    height:28px;
    top:46px;
    left:46px;
    background:#ff7b00;
    border-radius:50%;
    box-shadow:0 0 25px #ff7b00;
    animation:pulse 1s infinite alternate;
}

h1{
    margin-top:35px;
    color:#ff7b00;
    text-align:center;
    font-family:'Orbitron',sans-serif;
    text-shadow:0 0 15px #ff7b00;
}

/* HOME */

#main-home{
    min-height:100vh;
    background:#050505;
    padding:10px;
}




/* HEADER */

.top-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
}

.brand{
    color:#ff7b00;
    font-size:20px;
    font-weight:900;
    letter-spacing:2px;
    font-family:'Orbitron',sans-serif;
    text-shadow:0 0 15px #ff7b00;
}

.hex-menu{
    color:#ff7b00;
    font-size:30px;
    cursor:pointer;
}

/* HALL OF FAME */

.fame-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:12px;
    margin-top:20px;
}

.fame-card{
    height:150px;
    border-radius:18px;
    overflow:hidden;
    cursor:pointer;
    transition:0.3s;
}

.fame-card:hover{
    transform:scale(1.05);
}

.fame-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}
@keyframes spin1{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes spin2{
    from{
        transform:rotate(360deg);
    }
    to{
        transform:rotate(0deg);
    }
}

@keyframes pulse{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.2);
    }
}
.menu-container{
    position:relative;
}

#dropdown-menu{
    display:none;
    position:absolute;
    top:45px;
    right:0;
    width:220px;
    background:#111;
    border:1px solid #ff7b00;
    border-radius:12px;
    overflow:hidden;
}

#dropdown-menu a{
    display:block;
    padding:15px;
    text-decoration:none;
    color:white;
}

#dropdown-menu a:hover{
    background:#ff7b00;
}


.fame-card{
    position:relative;
    height:220px;
    border-radius:18px;
    overflow:hidden;
    border:2px solid #ff7b00;
    background:#111;
    transition:0.3s;
}

.fame-card:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px #ff7b00;
}

.fame-card img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.season-tag{
    position:absolute;
    top:10px;
    left:10px;
    background:rgba(0,0,0,0.8);
    color:#ff7b00;
    padding:8px 14px;
    border-radius:8px;
    font-family:'Orbitron',sans-serif;
    font-size:12px;
    border:1px solid #ff7b00;
    font-weight:bold;
}
/* SPOTLIGHT SECTION */
.spotlight{
    margin:25px 0;
}

.spotlight-title{
    text-align:center;
    color:#fff;
    font-family:'Orbitron',sans-serif;
    font-size:24px;
    font-weight:900;
    letter-spacing:2px;
    margin-bottom:10px;
}

.spotlight-subtitle{
    text-align:center;
    color:#bbb;
    margin-bottom:20px;
    font-size:13px;
}

.spotlight-card{
    display:flex;
    border:2px solid #ff7b00;
    border-radius:16px;
    overflow:hidden;
    background:#2b1111;
}

.spotlight-image{
    width:50%;
}

.spotlight-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.spotlight-info{
    width:50%;
    padding:15px;
}

.spotlight-badge{
    background:#ff4d2d;
    display:inline-block;
    padding:6px 12px;
    border-radius:6px;
    font-size:11px;
    font-weight:bold;
    margin-bottom:10px;
}

.spotlight-info h2{
    font-size:22px;
    margin-bottom:10px;
}

.spotlight-date{
    color:#ddd;
    margin-bottom:12px;
    font-size:13px;
}

.spotlight-info p{
    color:#ccc;
    font-size:13px;
    line-height:1.5;
}

.spotlight-tags{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin-top:12px;
}

.spotlight-tags span{
    background:#3d2222;
    padding:6px 10px;
    border-radius:20px;
    font-size:11px;
}

.spotlight-btn{
    display:block;
    margin-top:15px;
    text-align:center;
    background:#ff4d2d;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:8px;
    font-weight:bold;
}

@media(max-width:768px){

    .spotlight-card{
        flex-direction:column;
    }

    .spotlight-image,
    .spotlight-info{
        width:100%;
    }

    .spotlight-image{
        height:180px;
    }

    .spotlight-info h2{
        font-size:18px;
    }
}
.about-freefirexipl{
padding:20px 10px;
text-align:center;
}

.about-freefirexipl h2{
color:#ff7b00;
font-family:'Orbitron',sans-serif;
margin-bottom:25px;
}

.about-freefirexipl p{
    max-width:1000px;
    margin:auto;
    color:#cfcfcf;
    line-height:1.9;
    font-size:16px;
}


.ffx-footer{
margin-top:40px;
padding:40px 20px;
text-align:center;
border-top:1px solid #333;
}

.footer-logo{
    color:#ff7b00;
    font-size:28px;
    font-weight:900;
    letter-spacing:2px;
    font-family:'Orbitron',sans-serif;
    text-shadow:0 0 12px #ff7b00;
}

.footer-links{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
margin-bottom:25px;
}

.footer-links a{
color:white;
text-decoration:none;
font-weight:bold;
}

.footer-links a:hover{
    color:#ff7b00;
}

.footer-description{
max-width:900px;
margin:auto;
color:#aaa;
line-height:1.7;
margin-bottom:25px;
}

.footer-copyright{
color:#777;
}
.captain-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:12px;
    border-radius:15px;
    margin-bottom:12px;
}

.captain-item img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid rgba(255,255,255,0.8);
}

.team-name{
    font-size:18px;
    font-weight:bold;
}

.captain-name{
    font-size:13px;
    color:white;
}

/* TEAM COLORS */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:'Poppins', sans-serif !important;
    padding:20px;
}

.back-btn{
    display:inline-block;
    margin-bottom:20px;
    color:#ff7b00;
    text-decoration:none;
    font-weight:bold;
}

.captains-heading{
    text-align:center;
    color:#ff7b00;
    font-family:'Orbitron',sans-serif;
    margin-bottom:25px;
    font-size:28px;
}

.captains-list{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.captain-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:12px;
    border-radius:15px;
}

.captain-item img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid white;
}

.team-name{
    font-size:18px;
    font-weight:bold;
}

.captain-name{
    font-size:13px;
    color:white;
}

/* TEAM COLORS */

.srh{
    background:#ff7a00;
}

.rcb{
    background:#d50000;
}

.csk{
    background:#ffd600;
    color:black;
}

.mi{
    background:#1976d2;
}

.kkr{
    background:#7b1fa2;
}

.rr{
    background:#ff4081;
}

.dc{
    background:#2196f3;
}

.pbks{
    background:#b71c1c;
}

.lsg{
    background:#00c853;
}

.gt{
    background:#00acc1;
}

.news-ticker{
    margin-top: 20px;
    width:100%;
    overflow:hidden;
    background:#111;
    color:white;
    padding:10px 0;
    white-space:nowrap;
}

.ticker-text{
    display:inline-block;
    padding-left:100%;
    animation:scrollText 20s linear infinite;
}

@keyframes scrollText{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}
@media(max-width:768px){

    #intro-screen h1{
        font-size:28px;
        line-height:1.3;
        padding:0 20px;
        max-width:300px;
        margin-top:20px;
    }

    body{
        font-size:14px;
    }

    .top-header{
        padding:5px;
    }

    .brand{
        font-size:13px;
    }

    .footer-logo{
        font-size:24px;
    }

    .spotlight-card{
        flex-direction:column;
    }

    .spotlight-image,
    .spotlight-info{
        width:100%;
    }

    .fame-container{
        grid-template-columns:repeat(2,1fr);
        gap:12px;
    }
}

img{
    max-width:100%;
    height:auto;
    display:block;
}
.hall-heading{
    text-align:center;
    font-family:'Orbitron',sans-serif;
    color:#ff7b00;
    font-size:28px;
    font-weight:900;
    letter-spacing:3px;
    margin:30px 0 20px;
    text-shadow:0 0 15px #ff7b00;
}
.footer-description{
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.8;
    color: #ddd;
}

.about-freefirexipl p{
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    line-height: 1.8;
}

.spotlight-subtitle{
    font-family: Arial, sans-serif !important;
}
.footer-description,
.about-freefirexipl p,
.spotlight-subtitle,
.ticker-text{
    font-family: sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
}